@import "partials/base";
body {
  background-color: $body-background;
}

// div {
//   border: 1px solid black;
// }

#wrapper {
  @include outer-container();
  background: $wrapper-background;
  padding: $margin / 2;

  .article-box {
    background: $article-box-background;
    @include span-columns(12);
    height: $box-height;
    padding: 0 $margin 0;
  }

  .article-box2 {
    background: $article-box-background-2;
    @include span-columns(12);
    height: $box-height;
    padding: $margin $margin 0;
  }

}
.navbar {
  @include span-columns(12);
  background: #4C668A;
}

.large-article {
  background: $large-background;
  @include span-columns(12);
  height: $box-height * .55;
  margin-bottom: $margin;
}

.small-article {
  @include span-columns(3);
  background: #EEE4E1;
  height: $box-height * .4;
  margin-bottom: $margin;
}

.article-tile {
  @include span-columns(3);
  height: $box-height * .4;
}

.medium-article {
  @include span-columns(9);
  background: $medium-article-background;
  height: $box-height * .4;
  margin-bottom: $margin;
  padding-bottom: 0;
}

.tiny-article {
  background: #EEE4E1;
  height: $box-height * .114;
  margin-bottom: $margin;
  margin-top: none;
  @include span-columns(12);

}


// should be placed somewhere appropriate later //



.top-row, .second-row {
  @include span-columns(12);

}
